name: CI
on:
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      id: setup-node
      uses: ./
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Check outputs
      run: |
        source assert.sh
        assert_eq "$(node -v)" "${{ steps.setup-node.outputs.node-version }}"
        
    - name: Test Safe Chains
      run: |
        source assert.sh
        set +e
        npm install -g safe-chain-test
        exitCode=$?
        assert_eq "1" "$exitCode"
        exit 0
      continue-on-error: true