name: "Lint PR"

on:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]

jobs:
  pr-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: linz/action-pull-request-lint@7adb4bc59b59dc6e097de831c29a17c2c1338826 # v1.2.0